body{
    width: 100%;
    height: 100%;
    background: #FAF9F6;
}
.login {
    margin-top: 140px !important;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    border: 1px solid #ddd9d9;
    padding: 20px;
    background: white;

    /* box shadow  */
    box-shadow: -12px 40px 65px -17px rgba(26,26,26,0.2);
-webkit-box-shadow: -12px 40px 65px -17px rgba(26,26,26,0.2);
-moz-box-shadow: -12px 40px 65px -17px rgba(26,26,26,0.2);
}

.login button{
    width: 100%;
    margin-top: 40px;
}
.login label{
    margin-top: 20px !important;
}

.logo-big{
    width: 358px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

